*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.map

target/*
node/*

# bundle.js is compiled on the fly
src/main/resources/static/built/bundle.*

# Ignore config files
.DS_Store
.classpath
.project
.settings/

# Ignore log files
phantomjsdriver.log
/target/
