<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<!-- only include scripts that are necessary for jasmine testing
	 as you can see, the paths are incorrect from maven perspective
	 but they are correct from jasmine perspective -->
	<script src="src/main/resources/static/scripts/interactions.js" type="text/javascript"></script>
</head>

<body>
<div id="registerBox" class="register-popup" align="center" th:fragment="registerform">
	<a href="#" class="close-button"><img style="width:32px;height:32px;" src="images/close_pop.png" class="btn_close" title="Close Window" alt="Close" /></a>
	<form action="javascript:void(0);" id="registration">
		<div class="form-group">
		  	<label for="InputEmail">Email Address</label>
		  	<input type="email" class="form-control" id="inputEmail" placeholder="Email"/>
		</div>
		<div class="form-group">
		  	<label for="InputPassword1">Password</label>
		  	<input type="password" class="form-control" id="inputPassword1" placeholder="Password"/>
		</div>
		<div class="form-group">
		  	<label for="InputPassword2">Confirm Password</label>
		  	<input type="password" class="form-control" id="inputPassword2" placeholder="Password"/>
		</div>
		<div class="form-group">
		  	<label for="InputDisplayName">Display Name</label>
		  	<input type="text" class="form-control" id="inputDisplayName" placeholder="Display Name"/>
		</div>
		<span style="color:red"><div class="form-group" id="formFeedback"></div></span>
	  <input type="submit" id="registerFormSubmit" href="#registerBox" value="Submit" class="btn btn-default"/>
	  <a id="loading" style="display: none"><img src="images/ajaxLoader.gif" style="width:43px;height:11px;"/></a>
	</form>
</div>

</body>

</html>