
.glyphicon-space {
	margin-right: 5px;
}

.li-space {
	margin-bottom: 5px;
}

.participant-buttons {
	position: relative;
    top: -10px;
    margin-bottom: 10px;
    left: -5px;
}

.occurrence-button {
	position: relative;
	margin-left: 5px; 
	top: 5px;
}

.leaflet-popup-content-wrapper {
	width: 450px;
	height: auto;
	z-index: 1001 !important;
}

.leaflet-popup-content {
	width: 450px !important;
	height: auto !important;
}

.modal-footer {
    padding: 5px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

@font-face {
	font-family: "chalkhandlettering";
	src:url("../../assets/fonts/chalk-hand-lettering-shaded.ttf") format("truetype")
}

@font-face {
	font-family: "soundofsilence";
	src: url("../../assets/fonts/sound-of-silence.ttf") format("truetype")
}

html, body {
	height: 100%;
}

#main, #main-row {
	height: 100%;
}

#left-panel {
	background-color: #F9F9F9;
	height: 100%;
	min-width: 290px;
	overflow-y: scroll;
}

#map-canvas {
	border: 1px;
	border-color: #ddd;
	width: 100%;
/*	height: 400px; */
	margin-top: 15px;
}

#map-legend-container {
	display: none;
}

#menu li a {
	color:  #FFFFFF;
	line-height: 130px;
	font-size: larger;
	padding-top: 0px;
	height: 130px;
}

#menu li a:hover {
	background-color: #008AE6;
}

#brand-header {
	color:  #FFFFFF;
	font-size: 3em;
	font-family: soundofsilence, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	letter-spacing: 0.1em;
	display: none;
}

#controls {
	margin-top: 15px;
}

#event-preferences-list {
	padding: 15px 15px 15px 40px;
}

#event-preferences-list .controls {
	padding-left: 20px;
}

#event-specializations-list {
	padding: 15px 15px 15px 40px;
}

#event-specializations-list .controls {
	padding-left: 20px;
}

#salutation {
	margin-top: 20px;
}

.left-panel-header {
	font-size: 1.2em;
}

.control-button button {
	white-space: normal;
	min-width: 210px;
	text-align: left;
}

.control-button:not(:last-child) {
	margin-bottom: 10px;
}

.new-event-location-popup hr {
	margin: 4px 0px 4px 0px;
}

.established-event-location-popup hr {
	margin: 4px 0px 4px 0px;
}

.established-event-location-popup ul {
	padding: 0px;
}

.established-event-location-popup li {
	font-size:  15px;
	list-style: none;
}

.form-label {
	font-weight: 700;
}

.map-legend-item {
	vertical-align: top;
	text-align: center;
}

.mapbox-logo {
	display: none;
}

.content-template {
	display: none;
}

.content-fragment {
	display: none;
}

@media (min-width: 768px) and (max-width: 980px) {
	body {
		padding-top: 50px;
	}

	#map-canvas {
		/* top: 50px; */
	}

	#navigation  {
		background-image: none;
	}

	#menu li a {
		line-height: 50px;
		height: 50px;
	}

	#brand-header {
		display: block;
		margin: 4px 0px 0px 2px;
	}
}


@media (max-width: 767px) {
	body {
		padding-top: 50px;
	}

	#map-canvas {
		top: 50px;
	}

	#navigation  {
		background-image: none;
	}

	#menu li a {
		line-height: 50px;
		height: 50px;
	}

	#navigation  {
		background-image: none;
	}

	#brand-header {
		display: block;
		margin: 4px 0px 0px 17px;
	}
}
